#cover{
	background-color: #1F3A93;
    min-height:600px;
}
#cover2{
	background-color: #E26A6A;
	min-height: 600px;
}
#cover3{
	background-color: #4183D7;
	min-height: 850px;
}
#cover4{
	background-color: #F62459;
	min-height: 700px;
}
h3{
	color: #FFFFFF;
	line-height: 250%;
	font-size: 20px;
	margin-left: 35px;
	letter-spacing: 2px;
	margin-top: 40px;
}
h1{
	color: #FFFFFF;
	margin-top: 150px;
	margin-left: 35px;
}
h2{
	color: #FFFFFF;
	margin-top: 150px;
	text-align: center;
}
#images1{
	margin-top: 70px;
}
#images2{
	margin-top: 80px;
}
#images3{
	margin-top: 50px;
}
#images4{
	margin-top: 80px;
}
#cover2_h3{
	margin-left: 100px;
	margin-right: 100px;
	line-height: 150%;
	text-align: center;
}
#cover3_h1{
	margin-top: 20px;
	font-size: 70px;
}
#cover3_h3{
	margin-top: 30px;
	line-height: 180%;
}
#cover4_h3{
	line-height: 150%;
}