#jumbotron1{
	margin-top: 90px;
	min-height: 300px;
	background-color: #3897D9;
}
#h1slogan{
	color: #FFFFFF;
	font-family: 
}
#h2text{
	color: #FFFFFF;
}
#h1center{
	color: #FFFFFF;
	text-align: center;
}
#h1right{
	color: #FFFFFF;
	text-align: right;
}
.table-responsive{
	border: 1px solid #ddd;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	border-right: 1px solid #ddd;
}
.img-rounded{
	display: block; margin-left: auto; margin-right: auto;
	max-height: 300px;
}